*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(41, 38, 38);
}
.conteiner{
    background-color: aquamarine;
    display: flex;
    width: 70rem;
    border-radius: 1.2rem;
    
    
}
.content{
    display: flex;
    width: 95%;
    align-items: center;
    flex-direction: column;
}
.content h1{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif ;
    margin-top: 1.5rem ;
    
}
span{
    margin: 1.5rem 1.5rem;
}
#temperature{
    border: none;
    outline: none;
    padding: 0.8rem;
    border-radius: 1.2rem;
}
.inputRadio{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5rem;
}
.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 58%;
}
.resultado button{
    width:15rem;
    padding: 0.8rem;
    border-radius: 1.2rem;
    border: none;
    cursor: pointer;
}
.resultado p{
    margin-top: 2.5rem;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}